*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    background-color: rgb(250, 250, 250);
}

.seccionheader{
    margin-top: 6.8rem;
}

.marginheader{
    margin-top: 7rem;
}

.iconopag{
    display: flex;
    padding-left: 300px;
}

.menunavp{
    gap: 60px;
    padding-right: 100px;
}

.conteimagmarcas{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
    padding: 20px;
    margin-bottom: 45px;
}

.logomarcas{
    width: 180px;
}

.topventas{
    color: black;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
    padding: 40px;
}

.contenedorcard{
    display: flex;
    justify-content: space-evenly;
}

.seccion1{
    padding: 20px;
    background-color: rgb(247, 247, 247);
}

h1, h2, h3, h4, h5, h6{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titulo2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2.7rem;
    letter-spacing: 2px;
    padding: 40px;
    margin: 40px;
}

.titulo3{
    color: black;
    text-align: center;
    letter-spacing: 2px;
    padding: 80px;
}

.prodimg{
    width: 350px;
    height: 250px;
}

.productos{
    width: 90%;
    height: auto;
    text-align: center;
    margin: 30px auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);

    justify-content: center;
    align-items: center;
}

.tarjeta{
    text-align: center;
    margin: 40px;
}

.titulotarjeta{
    color:rgb(95, 94, 94);
}
.divlonas{

    width: 90%;
    height: auto;
    text-align: center;
    margin: 30px auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    justify-content: center;
    align-items: center;
}

.divaccesorios{

    width: 90%;
    height: auto;
    text-align: center;
    margin: 30px auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);

    justify-content: center;
    align-items: center;

}

.prodimg:hover{
    opacity: 1;
    border: solid white;
}

.formulario{
    text-align: center;
    padding: 70px;
}

.pie-pagina{
    width: 100%;
    background-color: rgb(102, 102, 102);
    margin-top: 100px;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 15px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
    height: 125px;
}

.pie-pagina .grupo-1 .box h2{
    color: rgb(19, 18, 18);
    margin-bottom: 25px;
    font-size: 15px;
}

.pie-pagina .grupo-1 .box h3{
    color: black;
    font-size: 15px;
}

.pie-pagina .grupo-1 .box .lista{
    color: black;
}

.pie-pagina .grupo-1 .box p{
    color: black;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    background-color: rgb(114, 114, 114);
    text-align: center;
}

.pie-pagina .grupo-2{
    background-color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-2 small{
    font-size: 0.8rem;
}

@media screen {
    
}